<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mateo</td>
                    <td>Pulgarin</td>
                    <td>1000878965</td>
                    <td>250000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info mr-4"></i>
                        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mateo</td>
                    <td>Pulgarin</td>
                    <td>1000878965</td>
                    <td>250000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info mr-4"></i>
                        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mateo</td>
                    <td>Pulgarin</td>
                    <td>1000878965</td>
                    <td>250000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info mr-4"></i>
                        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>